body {
  text-align: center;
  background-color: #000000;
  font-family: 'Roboto Slab', serif;
  font-size: 15px;
  color: #FFFFFF;
}

h1{
  background-color: #FFCA2E;
  align-items: center;
  font-size: 10px;
}

.logo_MK{
  height: 8rem;
}

.logo{
  margin-left: 1rem;
  margin-top: 2rem;
  height: 4rem;
}

ul.lista {
    margin: 25px 0;
    padding: 0;
    list-style: none;
    text-align: left;
}
div.contenedor {
    width: 100%;
    margin: 0 auto;
}
div.izquierda, div.derecha {
    width: 300px;
}
div.izquierda {
    float: left;
    text-align: left;
}
ul.lista li.arriba {
    background: url("../images/control.png") no-repeat left;
}
ul.lista li.i {
    background: url("../images/control.jpg") no-repeat left;
}
.gif{
  height: 6rem;
  border-radius: 15px;
}
p{
  color: #D96F32;
}
div.derecha {
  float: right;
}
h2{
  color: #FFFFFF;
  font-family: 'Oswald', sans-serif;
}
.botons{
  text-decoration: none;
  padding: 3px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: 'Oxanium', cursive;
  font-weight: 300;
  font-size: 25px;
  font-style: italic;
  color: #000000;
  background-color: #FFCA2E;
  border-radius: 15px;
  border: 3px double #FFFFFF;
}
#pong {
  box-shadow: 0 0 30px #000;
  width: 700px;
  height: 400px;
  margin: 2rem auto;
  position: relative;
}

#player-padel {
  background-color: #BF5E0A;
}

#ai-padel {
  background-color: #E06F07;
  right: 0px;
}

#ball {
  background-color: #FFFFFF;
  width: 20px;
  height: 20px;
  left: 460px;
  top: 140px;
  border-radius: 50%;
  border: 4px solid #FFCA2E;
  position: absolute;
}

.padel {
  height: 125px;
  width: 25px;
  position: absolute;
}

#restart {
  margin-top: 10px;
  background-color: #baffc9;
  padding: 10px;
  font-size: 20px;
  border: none;
  cursor: pointer;
  width: 200px;
  height: 50px;
}

#restart:hover {
  background-color: #248639;
  color: white;
}